openapi: 3.0.1
info:
  title: Evident VerifyAPI and Submit Results Submission API
  description: Specification of Evident (Evident ID) VerifyAPI and SubmitAPI - RESTful JSON APIs for creating and retrieving identity, credential, and insurance (COI) verification requests. VerifyAPI authenticates with HTTP Basic Auth (username and API key); SubmitAPI authenticates with the userIdentityToken bearer token returned by VerifyAPI. Only endpoints documented at https://www.evidentid.com/api-documentation-developers/ are modeled here; Evident's published reference is partner / account oriented, so request and response schemas are summarized rather than exhaustively enumerated.
  termsOfService: https://www.evidentid.com/terms-conditions/
  contact:
    name: Evident Support
    email: support@evidentid.com
  version: '1.0'
servers:
- url: https://verify.api.evidentid.com/api/v1
  description: Production VerifyAPI
- url: https://verify.api.demo.evidentid.com/api/v1
  description: Sandbox VerifyAPI
- url: https://submit.api.evidentid.com/api/v1
  description: Production SubmitAPI
- url: https://submit.api.demo.evidentid.com/api/v1
  description: Sandbox SubmitAPI
tags:
- name: Submission
paths:
  /requests:
    post:
      operationId: submitRequestData
      tags:
      - Submission
      summary: Submit personal data for a verification request
      description: Send the personal data and credentials needed to satisfy a verification request (SubmitAPI). Authenticated with the userIdentityToken bearer token returned by VerifyAPI. Use the SubmitAPI server base URL.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitRequest'
      responses:
        '200':
          description: Submission accepted.
components:
  schemas:
    SubmitRequest:
      type: object
      properties:
        inputs:
          type: array
          description: Personal data values supplied for the verification request.
          items:
            type: object
            properties:
              type:
                type: string
                description: Attribute / input type.
              value:
                type: string
                description: Value supplied for the input.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth using your Evident username and API key (VerifyAPI).
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token using the userIdentityToken returned by VerifyAPI (SubmitAPI).
